{% extends 'coming_soon/base.html' %}

{% block content %}
<div class="fixed-grid has-4-cols">
    <div class="grid">
        <div class="cell is-col-start-2 is-col-span-2">
            <h2 class="title">FreeDome</h2><br>
            <h3 class="subtitle">Work in Progress</h3>
            <p>Freedome is a project management tool that can be self hosted or you can create an account at freedome.us.</p>
            <br><br>
            <p>It is the goal to eventually have this project management tool connected to the fediverse using ActivityPub protocol so project updates are available to not just users of Freedome, but also Mastodon users or anyone else on the fediverse wishing to follow a project.</p>
            <br><a href="https://github.com/fjoenichols/freedome">github</a>
        </div>
    </div>
</div>
{% endblock %}