{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Freedome | Register{% endblock %}

{% block content %}
<br><br>
<div class="fixed-grid has-4-cols">
    <div class="grid">
        <div class="cell is-col-span-2 is-col-start-2">
            <h1 class="title">Register</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <button type="submit" class="button">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}