{% extends "accounts/base.html" %}

{% block title %}Projects - Freedome{% endblock %}

{% block content %}
<section class="section">
<br><br>
<div class="fixed-grid has-4-cols">
    <div class="grid">
        <div class="cell is-col-span-2 is-col-start-2">
            <a href="{% url 'index' %}" class="button">Home</a>
            <a href="{% url 'project_create' %}" class="button">Create New Project</a>
            <br><br>
            <h1 class="title">My Projects</h1>
            {% for project in projects %}
                <h2 class="title"><a href="{% url 'project_detail' project.pk %}">{{ project.title | title }}</a></h2>
                <p>{{ project.description | capfirst }}</p>
                <p><small>Created on: {{ project.creation_date }}</small></p>
                <hr>
            {% endfor %}
        </div>
    </div>
</div>
</section>
{% endblock %}