{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Delete Project{% endblock %}

{% block content %}
<section class="section">
<br><br>
<div class="fixed-grid has-4-cols">
    <div class="grid">
        <div class="cell is-col-span-2 is-col-start-2">
            <a href="{% url 'project_detail' project.pk %}" class="button">Back to Project</a>
            <br><br>
            <h1 class="title">Delete Project: {{ project.title | title}}?</h1>
            <p>Are you sure you want to delete the project,  {{ project.title | title}}?</p>
            <br><br><a href="{% url 'project_delete' project.id %}" class="button is-danger">Delete Project</a>
        </div>
    </div>
</div>
</section>
{% endblock %}